/* .navbar-light {
    background-color: #fff !important;
}

.navbar-brand {
    background: #000;
    color : #fff !important;
    padding: 5px 8px;
    border-radius: 35px;
    font-weight: 500;
}

.bg-img .img-responsive {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-info {
    margin-left: 5px;
}

.profile-info p{
    margin-bottom: 0;
}

.profile-info h2 {
    margin-bottom: 0;
}

.about-section {
    margin-bottom: 25px;
}

.contact-section {
    margin-bottom: 25px;
}

.contact-section p {
    margin-bottom:5px;
}

.contact-section a {
    margin-right:5px;
    font-size: 18px;
    color: #000;
}

.-section {
    margin-bottom: 25px;
}

.education-section {
    margin-bottom: 25px;
}

.education-section p {
    margin-bottom: 0;
}

.language-section {
    margin-bottom: 25px;
}

.language-section p {
    margin-bottom: 0;
} */

.navbar-light {
    background-color: #fff !important;
}

.navbar-brand {
    background: #000;
    color: #fff !important;
    padding: 5px 8px;
    border-radius: 35px;
    font-weight: 500;
}

.bg-img .img-responsive {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-info {
    margin-left: 25px;
}

.profile-info h2 {
    margin-bottom: 0;
}

.profile-info p {
    margin-bottom: 0;
}

.about-section {
    margin-bottom: 25px;
}

.contact-section {
    margin-bottom: 25px;
}

.contact-section p{
    margin-bottom: 5px;
}

.contact-section a {
    margin-right: 5px;
    font-size: 18px;
    color:#000;
}

.education-section {
    margin-bottom: 25px;
}

.education-section p {
    margin-bottom: 0;
}

@media (min-width: 481px) and (max-width: 767px) {
    .col-8{
        margin-top:10px;
        width: 100%;
    }

    .col-4{        
        width: 100%;
    }

    .col-6 {
        width: 100%;
        padding: 10px;
    }
}